{#include layout.html}
    {#appVersion}<span class="app-version me-auto">{appBuildVersion}</span>{/appVersion}
    {#content}
    <div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 52px);">
        <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168 168" width="96" height="96" aria-label="Spotify logo" class="d-block mx-auto mb-4">
                <path fill="#1db954" d="M84 0C37.6 0 0 37.6 0 84s37.6 84 84 84 84-37.6 84-84S130.4 0 84 0zm38.6 121.2c-1.5 2.5-4.7 3.3-7.2 1.8-19.6-12-44.2-14.7-73.2-8-2.8.6-5.5-1.1-6.2-3.9-.6-2.8 1.1-5.5 3.9-6.2 31.7-7.2 58.9-4.1 80.9 9.3 2.5 1.5 3.3 4.7 1.8 7zm10.3-22.8c-1.9 3.1-5.9 4-9 2.1-22.5-13.8-56.7-17.8-83.3-9.7-3.4 1-7.1-.9-8.1-4.3-1-3.4.9-7.1 4.3-8.1 30.4-9.2 68.2-4.7 94 11.1 3.1 1.9 4 5.9 2.1 9zm.9-23.8C108.2 59 63.9 57.3 41.3 63.4c-4.1 1.1-8.5-1.3-9.6-5.5-1.1-4.1 1.3-8.5 5.5-9.6 26-7 69.4-5.6 96.9 10.5 3.7 2.2 5 6.9 2.8 10.6-2.2 3.8-6.9 5-10.6 2.8z"/>
            </svg>
            {#if error}
            <div class="alert alert-danger mb-4" role="alert" data-testid="login-error">
                {#when error}
                {#is spotify_denied}Access denied by Spotify. Please try again.{/is}
                {#is invalid_request}Invalid login request. Please try again.{/is}
                {#is state_mismatch}Login session expired or invalid. Please try again.{/is}
                {#is AUTH-001}Your Spotify account is not allowed to access this application.{/is}
                {#is AUTH-002}Could not complete authentication with Spotify. Please try again.{/is}
                {#is AUTH-003}Could not retrieve your Spotify profile. Please try again.{/is}
                {#is TOKEN-001}Session setup failed. Please try again.{/is}
                {#else}Login failed (code: {error}). Please try again.{/else}
                {/when}
            </div>
            {/if}
            <a href="/oauth/authorize" class="btn btn-spotify btn-lg px-5 py-3" data-testid="login-button">
                Log in with Spotify
            </a>
        </div>
    </div>
    {/content}
{/include}
